!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    %title WizBox for iPhone and iPod touch
    %link{:rel => "stylesheet",    :href => "style.css?val", :type => "text/css"}
    %link{:rel => "shortcut icon", :href => "http://www.studioamanga.com/img/favicon.ico"}
    %link{:rel => "apple-touch-icon-precomposed", :href => "../img/touch-icon-iphone4.png"}
    %link{:rel => "apple-touch-icon-precomposed", :href => "../img/touch-icon-ipad.png", :sizes => "72x72"}
    %meta{:name => "description",      :content => "WizBox is everything you need for “Magic: The Gathering”, in your hand."}
    %meta{:name => "viewport",         :content => "width=device-width"}
    %meta{:name => "apple-itunes-app", :content => "app-id=325184067"}
    :javascript
      currentScreenshotIndex = 1;
      previousScreenshot = null;
      setInterval(alternateScreenshots, 5000);
      
      function alternateScreenshots()
      {
        newScreenshot = document.getElementById('screen'+currentScreenshotIndex);
        if (previousScreenshot)
          previousScreenshot.style.opacity = '0';
        newScreenshot.style.opacity = '1';
        previousScreenshot = newScreenshot;
        currentScreenshotIndex ++;
        if (currentScreenshotIndex > 4) 
          currentScreenshotIndex = 1;
      }
  %body
    %header.general
      %nav
        %ul
          %li
            %a{:href => "http://www.studioamanga.com/"}
              %img{:alt => "StdAMG", :src => "img/icon-amg.png?val"}
              %span Studio AMANgA
          %li
            %a{:href => "http://www.studioamanga.com/contacts/"}
              %img{:alt => "Contacts", :src => "img/icon-contacts.png?val"}
              %span Contact[s]
          %li
            %a{:href => "http://www.studioamanga.com/onelist/"}
              %img{:alt => "1List", :src => "img/icon-onelist.png?val"}
              %span 1List
          %li
            %a{:href => "http://www.studioamanga.com/comicbookday/"}
              %img{:alt => "Comic Book Day", :src => "img/icon-comicbookday.png?val"}
              %span Comic Book Day
    %header.top
      %img.icon{:alt => "Icon", :src => "img/Icon-72-2x.png"}
      %h1 WizBox
    %section#main
      %section#screenshots
        %img#screen0{:alt => "iPhone", :src => "img/iphone-5.png"}
        %img#screen4{:alt => "Issue Screenshot", :src => "img/screen-4-ip5.png"}
        %img#screen3{:alt => "Volume Screenshot", :src => "img/screen-3-ip5.png"}
        %img#screen2{:alt => "Library Screenshot", :src => "img/screen-2-ip5.png"}
        %img#screen1{:alt => "Reading List Screenshot", :src => "img/screen-1-ip5.png"}
      %section#features
        %header.insert
          %img.icon{:alt => "Icon", :src => "img/Icon-72-2x.png"}
          %h1 WizBox
        %h2 Everything you need for “Magic: The Gathering” is in your hand.
        %p WizBox is a toolbox for “Magic: The Gathering”. You just need to take your cards and WizBox, and you have everything you need.
        %ul 
          %li Game: life counters, coin and die, notes, tokens and Planeswalkers, up to 4 players
          %li Match: victory points counters 
          %li History: archives and statistics for all past matches
          %li Favorites: the fastest way to useful links, including Daily MTG, Comprehensive Rules, and Gatherer
        %p.download
          %a{:href => "https://itunes.apple.com/app/comic-book-day/id325184067?mt=8"}
            %img{:alt => "Download on the App Store", :src => "img/download-appstore.svg"}/
    %footer
      %a{:href => "http://www.studioamanga.com"}
        %img{:alt => "StdAMG", :src => "img/amgmini-white.png?val"}/
      %p
        “WizBox” for iPhone and iPod touch
        %br
        Made by Studio AMANgA, 2010-2017

    :javascript
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-18279263-1']);
        _gaq.push(['_trackPageview']);
        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    
